/* Write your CSS here! */

h1 {
    margin: 20px, 50px;
    text-align: center;
    font-size: 40px;
}

body{
    margin: 8px;
    display: block;
}

#mainHeading{
    color: red;
}

.funParagraph{
    color:green;
}